/* Home */
.jumbotron-home {
    background-color: transparent !important;
}

.title-home {
    margin-bottom: 20px;
}

.container-central {
    background: rgba(226, 243, 245, 0.5);
    border-radius: 10px;
    padding: 15px;
    margin: 20px 0;
}

.title-list {
    padding-top: 7px;
}

.stats {
    margin-top: 25px;
    background: rgba(226, 243, 245, 0.7);
    border-radius: 10px;
    padding: 15px;
}

.secondary {
    width: 1.3rem;
    margin-right: 10px !important;
    vertical-align: unset;
}

.daily,
.fossils,
.rocks {
    display: flex;
    flex-wrap: wrap;
    background: rgba(226, 243, 245, 1);
    border-radius: 10px;
    margin: 15px;
    width: fit-content;
}

.image-check {
    width: 100px;
    height: 100px;
    border-radius: 50% !important;
    padding: 10px !important;
    margin: 10px;
}

.buy-sell {
    margin: 15px 0 0 15px;
}

.mb-3 {
    padding: 20px 20px 0 20px;
}

.button-sell {
    margin: 20px 0;
}
.prices {
    margin: 15px 0px;
}


.fancy-checkbox-label > input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: inherit;
}
.fancy-checkbox-label {
    font-weight: normal;
    cursor: pointer;
}
.fancy-checkbox-img:before {
    position: absolute;
    margin: 3px;
    line-height: normal;
}
input:checked + .fancy-checkbox-img + img {
    transform: scale(0.9);
    box-shadow: 0 0 8px #67ad42;
    background-color: #67ad42d7;
}
