.background {
    background-image: url("./assets/images/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
}
.principal {
    width: 1.5em !important;
    margin-right: 10px !important;
}

.title {
    font-weight: bold !important;
}

.item {
    padding-top: 20px;
}

.image-fish,
.image-bugs {
    height: 30vh;
    max-width: 50vw;
    min-width: 15vw !important;
    display: block;
    margin: auto;
}

.image-villager {
    padding: 0 20px;
    height: 40vh;
    max-width: 50vw;
    min-width: 15vw !important;
    display: block;
    margin: auto;
}

.image-art {
    height: 20vh;
}

.subtitle-item {
    font-size: 14px;
    font-weight: normal;
}

.button-art {
    display: block !important;
    margin: auto;
}

.toggle {
    margin: 15px 0px;
}
